<nav>
    <div class="wrap">
        <a href="/" class="logo-nav">
            <img src="/logo.png" alt="777heaven Records">
        </a>
        <div class="mobile-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul id="navMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/roster">Roster</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
