<div class="wrap">
    <a href="/" class="logo-nav">
        <img src="/assets/images/logo.png" alt="777heaven Records">
    </a>
    <div class="mobile-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul id="navMenu">
        <li><a href="/">Home</a></li>
        <li><a href="/roster">Roster</a></li>
        <li><a href="/journal">Journal</a></li>
        <li class="has-dropdown">
            <a href="/about">About</a>
            <ul class="nav-sub">
                <li><a href="/about">Our Story</a></li>
                <li><a href="/team">The Team</a></li>
                <li><a href="/partners">Partners</a></li>
            </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>
